<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
</head>
<body>
	<div layout:fragment="page_content">
		<div class="text-center">
			<p>
				<b th:text="#{export.message(${countReadyToExport})}"></b>
			</p>
			<a class="btn btn-lg btn-primary" th:classappend="${countReadyToExport == 0} ? disabled : ''" href="#" th:title="#{export.process}"
				th:href="@{/document/export?export}"> 
				<span class="glyphicon glyphicon-export"></span>
				<span th:text="#{export.process}">export</span>
			</a>
		</div>
		<hr/>
		<table class="table">
			<tbody>
				<tr th:each="file : ${files}">
					<td th:text="${file}"></td>
					<td>
						<a class="btn btn-primary" href="#"
							th:title="#{export.download}" th:href="@{/document/export?download&file=__${file}__}">
							<span class="glyphicon glyphicon-download"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
