<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<script type="text/javascript">

    
</script>   
</head>
<body>
	<div layout:fragment="page_content">
		<div th:if="${documents.empty}" class="container col-lg-12">
			<i th:text="#{documents.noentries}">Keine Eintr&auml;ge</i>
		</div>
		<div th:unless="${documents.empty}" class="container col-lg-12">
			<p th:text="#{documents.nroftotalelements(${page.totalElements},${page.totalPages})}">0 Eintr&auml;ge</p>
			<!-- <a th:href="@{/document/list(page=0,id=${search.id})}">Test</a> -->
			<!-- <span th:text="${searchQuery}"></span> -->
			<!-- <span th:text="${T(eu.tib.profileservice.controller.DocumentController).buildSearchQuery(search)}"></span> -->
		</div>
		<table class="table">
			<tbody>
				<tr th:each="document,docStat : ${documents}">
					<td>
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">
									<span class="card-title" th:text="${document.metadata.title}"></span>									
									<br/><small th:if="${document.metadata.remainderOfTitle} != null" class="card-subtitle mb-2" th:text="${document.metadata.remainderOfTitle}">remainder of title</small>
								</h3>
								<h5 class="card-subtitle mb-2">
									<span th:text="${#strings.listJoin(document.metadata.authors, '; ')}"></span>
									<span th:with="publicationDate=${document.metadata.dateOfPublication == null ? '' : (', ' + document.metadata.dateOfPublication)},
										publicationPlace=${document.metadata.placeOfPublication == null ? '' : (', ' + document.metadata.placeOfPublication)},
										publicationInfo='('+ ${document.metadata.publisher} + ${publicationPlace} + ${publicationDate} + ')'
									" th:text="${publicationInfo}"></span>
								</h5>
								<p th:if="${document.metadata.termsOfAvailability} != null">
									<span class="text-muted" th:text="#{termsofavailability} + ':'" ></span>
									<span th:text="${document.metadata.termsOfAvailability}" ></span>
								</p>
							</div>
							<div class="row card-body">
								<div class="col-md-1">
									<p>
										<a class="btn btn-secondary" data-toggle="collapse" th:href="${'#collapseDocumentInfo' + docStat.index}" role="button" aria-expanded="false" aria-controls="collapseDocumentInfo">
											<span class="glyphicon glyphicon-collapse-down"></span>
										</a>
									</p>
								</div>
								<div class="col-md-11">
	  								<!-- <div class="collapse in" th:id="${'collapseDocumentInfo' + docStat.index}"> -->
	  								<div class="collapse" th:id="${'collapseDocumentInfo' + docStat.index}">
										<p>
											<span class="text-muted" th:text="#{isbn} + ':'" ></span>
											<span th:text="${#strings.listJoin(document.metadata.isbns, ', ')}" ></span>
										</p>
										<p>
											<span class="text-muted" th:text="#{edition} + ':'" ></span>
											<span th:text="${document.metadata.edition}" ></span>
										</p>
										<p>
											<span class="text-muted" th:text="#{series} + ':'" ></span>
											<span th:text="${document.metadata.series}" ></span>
										</p>
										<p>
											<span class="text-muted" th:text="#{physical.description} + ':'" ></span>
											<span th:text="${document.metadata.physicalDescription}" ></span>
										</p>
										<p>
											<span class="text-muted" th:text="#{product.form} + ':'" ></span>
											<span th:text="${document.metadata.formOfProduct}" ></span>
										</p>
										<p>
											<span class="text-muted" th:text="#{categories} + ':'" ></span>
											<span th:text="${#strings.listJoin(document.metadata.deweyDecimalClassifications, ', ')}" ></span>
										</p>
										<p>
											<span class="text-muted" th:text="#{keywords.form} + ':'" ></span>
											<span th:text="${#strings.listJoin(document.metadata.formKeywords, ', ')}" ></span>
										</p>
										<p>
											<span class="text-muted" th:text="#{status} + ':'" ></span>
											<span th:text="${document.status}" ></span>
										</p>
										<p>
											<span class="text-muted" th:text="#{assignee} + ':'" ></span>
											<span th:text="${document.assignee?.name} ?: #{noassignee}" ></span>
										</p>
										<p>
											<span class="text-muted" th:text="#{document.creation.date} + ':'" ></span>
											<span th:text="${document.creationDateUtc}" ></span>
										</p>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<div class="col-lg-3">
									<form action="#" th:action="@{${actionUpdate}}" th:object="${updateDocument}" method="post">
										<input class="form-control" type="hidden" th:name="sourceUri" th:value="${#request.servletPath}" />
										<input class="form-control" type="hidden" th:name="sourceQuery" th:value="${#request.queryString}" />
										<input class="form-control" type="hidden" name="id" th:value="${document.id}" />
										<button class="btn btn-sm btn-success" type="submit" th:name="${methodAccept}">
												<span class="glyphicon glyphicon-ok"></span>
												<span th:text="#{accept}">accept</span>
										</button>
										<button class="btn btn-sm btn-danger" type="submit" th:name="${methodReject}">
												<span class="glyphicon glyphicon-remove"></span>
												<span th:text="#{reject}">reject</span>
										</button>
										<!-- 
										<button class="btn btn-sm btn-primary" type="submit" th:name="${methodAssign}" data-toggle="modal" data-target="#assignToUserModal">
												<span class="glyphicon glyphicon-user"></span>
												<span th:text="#{assign}">assign</span>
										</button>
										 -->
									</form>
								</div>
								<div class="col-lg-9">
									<form action="#" th:action="@{${actionUpdate}}" th:object="${updateDocument}" method="post">
										<fieldset>
											<input class="form-control" type="hidden" th:name="sourceUri" th:value="${#request.servletPath}" />
											<input class="form-control" type="hidden" th:name="sourceQuery" th:value="${#request.queryString}" />
											<input class="form-control" type="hidden" th:name="id" th:value="${documents[__${docStat.index}__].id}" />
											<select required="required" th:field="*{assignee}" th:errorclass="fieldError">
												<option th:each="u : ${users}" th:value="${u.id}" th:text="${u.name}" />
											</select>
											<button class="btn btn-sm btn-primary" type="submit" th:name="${methodAssign}">
												<span class="glyphicon glyphicon-user"></span>
												<span th:text="#{assign}">assign</span>
											</button>
										</fieldset>
									</form>
								</div>
							</div>
	
	<!-- requires js -->							
<!-- 								
								<div class="modal fade" id="assignToUserModal" tabindex="-1" role="dialog" aria-labelledby="assignToUserModalTitle">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="assignToUserModalTitle" th:text="#{assign}">Assign</h4>
											</div>
											<div class="modal-body">
												<p>
													<b th:text="${document.id}"></b>
													<span th:text="#{assignto}"></span>
												</p>
												<select class="form-control" required="required">
													<option th:each="u : ${users}" th:value="${u.id}" th:text="${u.name}" />
												</select>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{close}">Close</button>
												<button type="button" class="btn btn-primary" th:text="#{assign}">Save changes</button>
											</div>
										</div>
									</div>
								</div>
									
									Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#assignToUserModal">
  Launch demo modal
</button>
 -->								
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="text-center" id="pagination" th:with="url=${#request.servletPath},
			searchQuery=${T(eu.tib.profileservice.controller.DocumentController).buildSearchQuery(search)},			
			searchQuery=${(searchQuery==null || searchQuery.length()==0)?'':'&' + searchQuery},
			maxpages=7,
			minpagenr=${T(Math).max(0, T(Math).min(page.number - T(Math).floor(maxpages / 2).intValue(), (page.totalPages - maxpages).intValue()) )},
			maxpagenr=${T(Math).max(0, T(Math).min((minpagenr + maxpages - 1).intValue(),page.totalPages-1))}">
			<ul class="pagination pagination-centered justify-content-center">
				<li th:class="${page.isFirst()}? 'disabled' : ''">
					<span th:if="${page.isFirst()}">&laquo;</span>
					<a th:unless="${page.isFirst()}" th:href="@{__${url}__?page=0__${searchQuery}__}">&laquo;</a>
				</li>
				<li th:class="${page.hasPrevious()}? '' : 'disabled'">
					<span th:unless="${page.hasPrevious()}">&lsaquo;</span>
					<a th:if="${page.hasPrevious()}" th:href="@{__${url}__?page=__${page.number-1}____${searchQuery}__}">&lsaquo;</a>
				</li>
				<li th:each="pagenr : ${#numbers.sequence(minpagenr, maxpagenr)}" th:with="isCurrent=${pagenr == page.number}" th:class="${isCurrent}? 'active' : ''">
					<span th:if="${isCurrent}" th:text="${pagenr+1}"></span>
					<a th:unless="${isCurrent}" th:href="@{__${url}__?page=__${pagenr}____${searchQuery}__}" th:text="${pagenr+1}"></a>
				</li>
				<li th:class="${page.hasNext()}? '' : 'disabled'">
					<span th:unless="${page.hasNext()}">&rsaquo;</span>
					<a th:if="${page.hasNext()}" th:href="@{__${url}__?page=__${page.number+1}____${searchQuery}__}">&rsaquo;</a>
				</li>
				<li th:class="${page.isLast()}? 'disabled' : ''">
					<span th:if="${page.isLast()}">&raquo;</span>
					<a th:unless="${page.isLast()}" th:href="@{__${url}__?page=__${page.totalPages-1}____${searchQuery}__}">&raquo;</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
