<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorate="~{layout}">
<head>
</head>
<body>
	<div layout:fragment="page_content">
		<div class="row" th:object="${document}">	
			<div class="container col-lg-12">
				<p>
					<b>ID:</b><span th:text="*{id}"></span>
				</p>
				<p>
					<b>AUTHOR:</b><span th:text="*{metadata.author}"></span>
				</p>
				<p>
					<b>TITLE:</b><span th:text="*{metadata.title}"></span>
				</p>
				<p>
					<b>DESCRIPTION:</b><span th:text="*{metadata.description}"></span>					
				</p>
				<p>
					<b>ASSIGNEE:</b><span th:text="${assignment?.assignee?.name} ?: #{noassignee}"></span>					
				</p>
			</div>
		</div>
		<form action="#" th:action="@{${actionAssign}}" th:object="${assignment}" method="post">
		<fieldset>
			<input class="form-control" type="hidden" th:field="*{document}" th:value="${document.id}" />
			<select class="form-control" required="required" th:field="*{assignee}" th:errorclass="fieldError">
	            <option th:each="u : ${users}" th:value="${u.id}" th:text="${u.name}" />
	        </select>

			<button type="submit" class="btn btn-primary" name="assign" th:text="#{assign}">assign</button>
		</fieldset>
		</form>
	</div>
</body>
</html>
