<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{import.filter.title}">Filter</title>
</head>
<body>
	<div layout:fragment="page_content">
		<div class="row">
			<div class="container col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#" th:href="@{/import/listfilters}" th:text="#{import.title}">Import</a></li>
					<li><a href="#" th:href="@{/import/listfilters}" th:text="#{import.filters}">Filter</a></li>
					<li class="active" th:switch="${edit}"><span th:case="true"
						th:text="#{import.filter.edit}"></span> <span th:case="*"
						th:text="#{import.filter.create}"></span></li>
				</ul>
			</div>
		</div>
		<form action="#" th:action="@{${actionSaveFilter}}" th:object="${filter}" method="post">
			<fieldset>
				<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
						is incorrect</li>
				</ul>
				<input class="form-control" type="hidden" th:name="id"
					th:value="*{id}" />
				<div class="form-group">
					<label for="conditionType" th:text="#{import.filter.type}">type</label>
					<select class="form-control" th:field="*{conditionType}" th:errorclass="fieldError">
						<option th:each="type : ${availableFilterConditionTypes}" th:value="${type}" th:utext="#{import.filter.type.+${type}}"/>
				   </select>
				</div>
				<div class="form-group">
					<label for="condition" th:text="#{import.filter.condition}">condition</label>

					<div class="modal fade" id="regexInfoModal" tabindex="-1" role="dialog" aria-labelledby="regexInfoModalTitle">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="regexInfoModalTitle" th:text="#{import.filter.regular.expression.info.title}">title</h4>
								</div>
								<div class="modal-body">
									<p th:text="#{import.filter.regular.expression.info.content}" />
									<span th:text="#{import.filter.regular.expression.info.examples}"></span>
									<table class="table table-striped">
										<tbody>
											<tr>
												<td th:text="#{import.filter.regular.expression.info.example1.char}"></td>
												<td th:text="#{import.filter.regular.expression.info.example1.description}"></td>
											</tr>
											<tr>
												<td th:text="#{import.filter.regular.expression.info.example2.char}"></td>
												<td th:text="#{import.filter.regular.expression.info.example2.description}"></td>
											</tr>
											<tr>
												<td th:text="#{import.filter.regular.expression.info.example3.char}"></td>
												<td th:text="#{import.filter.regular.expression.info.example3.description}"></td>
											</tr>
											<tr>
												<td th:text="#{import.filter.regular.expression.info.example4.char}"></td>
												<td th:text="#{import.filter.regular.expression.info.example4.description}"></td>
											</tr>
											<tr>
												<td th:text="#{import.filter.regular.expression.info.example5.char}"></td>
												<td th:text="#{import.filter.regular.expression.info.example5.description}"></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{close}">Close</button>
								</div>
							</div>
						</div>
					</div>
					<div class="input-group">
						<input type="text" class="form-control" th:field="*{condition}" th:placeholder="#{import.filter.condition.regular.expression}" th:errorclass="fieldError" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" th:title="#{import.filter.regular.expression.info.title}" data-toggle="modal" data-target="#regexInfoModal">
								<span class="glyphicon glyphicon-info-sign"></span>
							</button>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="action" th:text="#{import.filter.action}">action</label>
					<select class="form-control" required="required" th:field="*{action}" th:errorclass="fieldError">
						<option th:each="action : ${availableFilterActions}" th:value="${action}" th:utext="#{import.filter.action.+${action}}"/>
				   </select>
				</div>
				<button type="submit" class="btn btn-primary" th:name="save" th:text="#{save}">Save</button>
			</fieldset>
		</form>

	</div>
</body>
</html>
