<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout}">
<head>
<title th:text="#{import.document.schedule.title}">Import</title>
</head>
<body>
	<div layout:fragment="page_content">
		<div class="row">
			<div class="container col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#" th:href="@{/import/listfilters}" th:text="#{import.title}">Import</a></li>
					<li class="active" th:text="#{import.document.schedule.title}"></li>
				</ul>
			</div>
		</div>
		<span>zum Testen via Browser: Import anstoßen</span>
		<form action="#" th:action="@{/import/import}" method="post">
			<input type="text" class="form-control" required="required" th:name="fromDate" th:value="${now}"/>
			<input type="text" class="form-control" required="required" th:name="toDate" th:value="${now}"/>
			<button class="btn btn-sm btn-primary" type="submit" name="import">
				<span>Import</span>
			</button>
		</form>
	</div>
</body>
</html>
