<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorate="~{layout}">
<head>
<title th:text="#{title.user.list}">Users</title>
<style>
a[aria-expanded=true] .glyphicon-plus {
   display: none;
}
a[aria-expanded=false] .glyphicon-minus {
   display: none;
}
</style>
</head>
<body>
	<div layout:fragment="page_content">
		<div class="row">
			<div class="container col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#" th:href="@{/user/list}" th:text="#{users}">Users</a></li>
					<li class="active" th:switch="${edit}">
						<span th:case="true" th:text="#{user.edit}"></span>
						<span th:case="*" th:text="#{user.create}"></span>
					</li>
				</ul>
			</div>
		</div>
		<form action="#" th:action="@{${actionSave}}" th:object="${user}" method="post" th:with="saveMethod=${(edit != null && edit)?methodEdit:methodCreate},
			refreshMethod=${(edit != null && edit)?methodRefreshEdit:methodRefreshCreate}">
			<fieldset>

				<!-- <legend th:text="#{user.create}">Add new user</legend> -->
				<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
						is incorrect</li>	
				</ul>

				<input class="form-control" type="hidden" th:name="id" th:value="*{id}" />
				<div class="form-group">
					<label for="name" th:text="#{name}">user name</label>
					<input type="text" class="form-control" required="required" th:field="*{name}"
						th:errorclass="fieldError" />
				</div>
				<div class="form-group" th:if="${edit}">
					<input type="hidden" class="form-control" th:field="*{password}" th:errorclass="fieldError" />
				</div>
				<div class="form-group" th:unless="${edit}">
					<label for="password" th:text="#{password}">password</label>
					<input type="password" class="form-control" required="required" th:field="*{password}"
						th:errorclass="fieldError" />
				</div>
				<div class="form-group">
					<label for="initials" th:text="#{initials}">initials</label>
					<input type="text" class="form-control" th:field="*{initials}"
						th:errorclass="fieldError" />
				</div>
				<div class="form-group">
					<label for="email" th:text="#{email}">email</label> <input
						type="email" class="form-control" th:field="*{email}" th:errorclass="fieldError" />
				</div>
 				<div class="form-group">
					<label for="roles" th:text="#{roles}">roles</label>
					<div id=roles>
						<div th:each="role : ${availableRoles}" class="checkbox">
							<label>
								<input type="checkbox" th:field="*{roles}" th:value="${role}"><span th:text="${role}"></span>
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<!-- <input type="hidden" th:field="*{categories}" th:value="${category}"> -->
					<label for="categories" th:text="#{categories}">categories</label>
					<div id=roles>
						<div th:each="category : *{categories}" class="checkbox">
							<ul>
								<li th:value="${category.id}"><span th:text="${category}"></span>
							</ul>
						</div>
					</div>
					<div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="categoriesModalTitle">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="categoriesModalTitle" th:text="#{categories}">categories</h4>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<div class="row" th:each="entry : ${availableGroupedCategories}" th:with="category=${entry.key},
											subcategories=${entry.value},
											subcategorySelected=${T(eu.tib.profileservice.controller.UserController).hasAnyCategory(user,subcategories)}">

											<div class="col-md-1">
												<a th:unless="${subcategories.isEmpty()}" class="btn btn-secondary" data-toggle="collapse" th:href="${'#collapseCategories' + category.id}" role="button" th:attr="aria-expanded=${subcategorySelected ? 'true' : 'false'}" aria-controls="collapseCategory">
													<span class="glyphicon glyphicon-plus"></span>
													<span class="glyphicon glyphicon-minus"></span>
												</a>
											</div>
											<div class="col-md-11">
												<input type="checkbox" th:field="*{categories}" th:value="${category.id}">
												<span th:text="${category}"></span>
												<div th:if="${subcategorySelected}" class="collapse in" th:id="${'collapseCategories' + category.id}">
													<ul>
														<li th:each="subcategory: ${subcategories}">
															<input type="checkbox" th:field="*{categories}" th:value="${subcategory.id}"><span th:text="${subcategory}"></span>
														</li>
													</ul>
												</div>
												<div th:unless="${subcategorySelected}" class="collapse" th:id="${'collapseCategories' + category.id}">
													<ul>
														<li th:each="subcategory: ${subcategories}">
															<input type="checkbox" th:field="*{categories}" th:value="${subcategory.id}"><span th:text="${subcategory}"></span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button formnovalidate="formnovalidate" type="submit" th:name="${refreshMethod}" class="btn btn-primary" th:text="#{close}">Close</button>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#categoriesModal" data-backdrop="static" data-keyboard="false" th:text="#{categories.edit}">edit categories</button>
				</div>

				<button type="submit" class="btn btn-primary" th:name="${saveMethod}" th:text="#{save}">Save</button>
			</fieldset>
		</form>

	</div>
</body>
</html>
