<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorate="~{layout}">
<head>
<title th:text="#{title.user.list}">Users</title>
</head>
<body>
	<div layout:fragment="page_content">
		<div class="row">
			<div class="container col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#" th:href="@{/user/list}" th:text="#{users}">Users</a></li>
					<li class="active" th:switch="${edit}">
						<span th:case="true" th:text="#{user.edit}"></span>
						<span th:case="*" th:text="#{user.create}"></span>
					</li>
				</ul>
			</div>
		</div>
		<form action="#" th:action="@{${actionSave}}" th:object="${user}" method="post" th:with="saveMethod=${(edit != null && edit)?methodEdit:methodCreate}">
			<fieldset>

				<!-- <legend th:text="#{user.create}">Add new user</legend> -->

				<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input
						is incorrect</li>	
				</ul>
				<input class="form-control" type="hidden" th:name="id" th:value="*{id}" />
				<div class="form-group">
					<label for="name" th:text="#{name}">user name</label>
					<input type="text" class="form-control" required="required" th:field="*{name}"
						th:errorclass="fieldError" />
				</div>
				<div class="form-group" th:if="${edit}">
					<input type="hidden" class="form-control" th:field="*{password}" th:errorclass="fieldError" />
				</div>
				<div class="form-group" th:unless="${edit}">
					<label for="password" th:text="#{password}">password</label>
					<input type="password" class="form-control" required="required" th:field="*{password}"
						th:errorclass="fieldError" />
				</div>
				<div class="form-group">
					<label for="initials" th:text="#{initials}">initials</label>
					<input type="text" class="form-control" required="required" th:field="*{initials}"
						th:errorclass="fieldError" />
				</div>
				<div class="form-group">
					<label for="email" th:text="#{email}">email</label> <input
						type="email" class="form-control" th:field="*{email}" th:errorclass="fieldError" />
				</div>
 				<div class="form-group">
					<label for="roles" th:text="#{roles}">roles</label>
					<div id=roles>
						<div th:each="role : ${availableRoles}" class="checkbox">
							<label>
								<input type="checkbox" th:field="*{roles}" th:value="${role}"><span th:text="${role}"></span>
							</label>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" th:name="${saveMethod}" th:text="#{save}">Save</button>
			</fieldset>
		</form>

	</div>
</body>
</html>
