<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title th:text="#{profileservice}">Profildienst</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" />
<link href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />


</head>
<body>
	<header>
		<div class="container">
			<div class="page-header" id="page-header">
				<h1>
					<small th:text="#{profileservice}">Profildienst</small>
				</h1>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-lg-2  sidebar">
				<ul th:replace="nav :: menu">
					<li>Navigation</li>
				</ul>
			</div>
			<div class="col-lg-10 main">
				<div th:if="${infoMessage}" th:switch="${infoMessageType}">
					<div th:case="'success'" class="alert alert-success" th:text="#{${infoMessage}}">Some message</div> 
					<div th:case="'error'" class="alert alert-danger" th:text="#{${infoMessage}}">Some message</div>
					<div th:case="*" class="alert alert-info" th:text="#{${infoMessage}}">Some message</div> 
				</div>
				<div layout:fragment="page_content"></div>
			</div>
		</div>
	</div>
</body>
</html>
