<div th:fragment="menu" id="menu">
	<ul class="nav nav-stacked nav nav-pills">
		<li class="nav-item"><a class="nav-link" href="#" th:href="@{/user}" th:text="#{users}">Users</a></li>
		<li class="nav-item"><a class="nav-link" href="#" th:href="@{/document/my}" th:text="#{my.documents}">my</a></li>
		<li class="nav-item"><a class="nav-link" href="#" th:href="@{/document/list}" th:text="#{publications}">publications</a></li>
	</ul>
	<ul class="nav nav-stacked nav nav-pills" sec:authorize="isAuthenticated()">
		<li class="nav-item"><a class="nav-link" href="#" th:href="@{/logout}"><div sec:authentication="name"></div><span th:text="#{logout}">Logout</span></a></li>
	</ul>
</div>
